body{
margin:0;
font-family:'Quicksand',sans-serif;
background:#0b0f19;
color:white;
cursor:url("normal.png") 8 8, auto;
}

button,.polaroid,.opcao{
cursor:url("point.png") 8 8,pointer;
}

img,
button,
.polaroid,
.opcao{
cursor: url("point.png") 8 8, pointer !important;
}

section{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:40px;
}

.glow-text{
font-family:'Cormorant Garamond',serif;
font-size:4rem;
text-shadow:0 0 15px #7bffba;
}

.opcoes{
display:flex;
gap:80px;
}

.opcao img{
width:260px;
height:260px;
border-radius:20px;
}

#linha{
width:700px;
height:2px;
background:white;
margin-bottom:80px;
}

#stack{
position:relative;
width:500px;
height:350px;
}

.polaroid{
position:absolute;
background:white;
padding:12px;
border-radius:8px;
box-shadow:0 10px 30px rgba(0,0,0,0.4);
cursor:grab;
user-select:none;
}

.polaroid:active{
cursor:grabbing;
}

.polaroid img{
width:300px;
height:300px;
object-fit:cover;
}

.polaroid:nth-child(1){
top:0;
left:80px;
}

.polaroid:nth-child(2){
top:30px;
left:200px;
}

.poemaBox{
max-width:800px;
background:rgba(0,0,0,0.5);
padding:60px;
border-radius:25px;
font-family:'Cormorant Garamond',serif;
font-size:2rem;
text-align:center;
}

.magical-btn{
padding:15px 40px;
border-radius:30px;
border:1px solid white;
background:transparent;
color:white;
font-size:1.2rem;
}

video{
margin-top:40px;
height:500px;
border-radius:20px;
}



