body{

margin:0;
font-family:'Quicksand',sans-serif;

background:linear-gradient(180deg,#0c1445,#1b2a7a,#3d5bd4);

color:white;
text-align:center;

cursor:url(normal.png), auto;

}

a,button,img{

cursor:url(point.png), pointer;

}

#inicio{

display:flex;
justify-content:center;
align-items:center;
gap:80px;
height:100vh;

}

.opcao{

width:260px;
transition:transform 0.3s;

}

.opcao:hover{

transform:scale(1.1);

}

.glow-text{

font-family:'Cormorant Garamond',serif;
font-size:2.5rem;

text-shadow:0 0 10px #9fd6ff;

}

.magical-btn{

background:linear-gradient(135deg,#6fa8ff,#9fd6ff);

border:none;
padding:14px 26px;

border-radius:12px;

font-size:16px;

color:white;

transition:all 0.3s;

}

.magical-btn:hover{

transform:scale(1.1);
box-shadow:0 0 25px rgba(150,210,255,0.9);

}

#linha{

width:70%;
height:4px;

background:white;

margin:40px auto;

}

#stack{

position:relative;
height:500px;

}

.polaroid{

position:absolute;
cursor:grab;

}

.polaroid img{

width:340px;

}

